html {
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 100px 0px 50px 200px;
    width: 560px;
    background-color: black;
    color: white;
}

h1 {
    font-size: 20px;
    font-weight: 900;
}

body {
    padding: 30px 0px 0px 0px;
    font-size: 18px;
    font-weight: 500;
    line-height: 170%;
}

footer {
    font-size: 14px;
    font-weight: 560;
    color: gray;

}
