@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
html {
    font-family: Pretendard;
    height: 100%;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
}

html {
    background-color: #1a1a1a;
    color: #cccccc;
}

body {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-size: 1rem;
    line-height: 1.5;
    word-break: keep-all;
    cursor: default;
}

div.title {
    height: 100%;
    width: 100%;
    margin: 20px;
}

div.content {
    height: 100%;
    width: 300px;
    float: left;
    margin: 30px;
}

footer {
    font-size: 14px;
    font-weight: 700;
    color: gray;

}
