@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
html {
    font-family: Pretendard;
    height: 100%;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
}

html {
    background-color: #0e0e0e;
    color: #e5e5e5;
}

body {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-size: 1rem;
    line-height: 1.5;
    word-break: keep-all;
    cursor: default;
}

div.content {
    height: 100%;
    width: 150px;
    float: left;
    margin: 20px;
}

footer {
    font-size: 14px;
    font-weight: 700;
    color: gray;

}
